@import "tailwindcss";


@theme{
  --font-family: 'Poppins', sans-serif;
  --color-primary: #ffffff;
  --color-secondary: #fc814a;
  --color-text1: #FAFAFA;
  --color-text2: #7D8184;
  --color-text3: #000000;
  --color-bg1: #ffffff;
  --color-bg2: #D1D4DB;
  --color-button1: #202C46;
  --color-button2: #FC814A;
  --color-hover1: rgb(252, 130, 74, 16.47%);
  --color-hover2: rgba(32, 44, 70, 70%);
}

